<template>
  <li>
    <div class="row">
      <div class="col-3">
        <b>{{ item.id }} - {{ item.title }}</b>
      </div>
      <div class="col-3">
        - {{ item.status }}
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-primary mx-3" :disabled="item.status=='Done'" >Edit</button>
        <button type="button" class="btn btn-danger"  @click="delete_todo(item.id)">X</button>
        <button type="button" class="btn btn-success mx-3" v-if="item.status=='Pending'" @click="mark_as_done(item.id)">Done</button>
      </div>
    </div>
  </li>
</template>
<script>
export default {
  name: "todo-item-list",
  props: {
    item: Object
  },
  methods: {
    mark_as_done(id){
     this.$store.dispatch("MARK_AS_DONE",id)
    },
    delete_todo(id){
     this.$store.dispatch("DELETE_TODO",id)
    }
  },
};
</script>
