<template>
  <div>
     <h4>Add Todo:</h4>
    <div class="form-group">
      <FieldLable :text="'Todo Title'" :bold="true" class="item" />
      <!-- <FieldInput :type="'text'" class="item" v-model="todo.title"/> -->
      <input type="text" name="todo" id="todo" v-model="todo.title" />
      <!-- <FieldInput :type="'button'" :text="'Add Todo'" class="item" @click="console.log(this.todo)"/> -->
      <input type="button" class="btn btn-primary mx-3" value="Add" @click="add_todo()" />
    </div>
  </div>
</template>

<script>
import FieldInput from "./ui/FieldInput";
import FieldLable from "./ui/FieldLable";
export default {
  name: "todo-add",
  components: {
    FieldInput,
    FieldLable
  },
  data() {
    return {
      todo: {
        title: "",
        status: "Pending"
      }
    };
  },
  methods: {
    add_todo() {
      if (this.todo.title == "") {
        alert("Please add a title");
      } else {
        this.$store.dispatch("ADD_TODO", {
          title: this.todo.title,
          status: this.todo.status
        });
        this.todo.title = "";
      }
    }
  }
};
</script>

<style lang="css">
.form-group {
  display: flex;
}
</style>