<template>
  <div class="hello container">
    <div class="row">
      <div class="col-4">
        <TodoAdd />
      </div>
      <div class="col-6">
        <h4>Todos list :</h4>
        <ol>
          <TodoListItem :item="todo" v-for="(todo, index) in todos" :key="index" />
        </ol>
      </div>
    </div>
  </div>
</template>

<script>
import TodoListItem from "./TodoListItem";
import TodoAdd from "./TodoAdd";

export default {
  name: "todo",
  components: {
    TodoListItem,
    TodoAdd
  },
  computed: {
    todos() {
      return this.$store.getters.TODOS;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ol {
 
  text-align: left;
}
li {
  padding: 5px;
  margin: 5px 10px;
}
a {
  color: #42b983;
}
</style>
