<template>
  <div>
    <input
      :type="type"
      :value="text"
      :class="{ 
        'btn btn-primary' : type=='button',
        'form-control' : type=='text'
      }"
    />
  </div>
</template>

<script>
export default {
  name: "field-input",
  props: {
    type: String,
    text: String,
  },
  methods: {
  },
};
</script>