<template>
  <div>
    <label class="mx-3">
      <b>{{text}}:</b>
    </label>
  </div>
</template>

<script>
export default {
  name: "field-lable",
  props: {
    text: String,
    bold: Boolean
  }
};
</script>